service vendor.qti.hardware.display.allocator-aidl /vendor/bin/hw/vendor.qti.hardware.display.allocator-service
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
